.hidden {
    display: none;
}
[x-cloak] {
    display: none !important;
}
.blue {
    color: #009;
}
.red {
    color: #900;
}
.green {
    color: #090;
}
div#categoriesRoot li {
    display: block;
}
div#categoriesRoot p, div#categoriesRoot button {
    display: inline;
}
